@model OnlineShopping.ViewModel.Product.AddProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "_AdminLayout";
}

<div class="model modal-dialog modal-xl position-static d-block bg-body-secondary p-4 " tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Create New Product</h1>
                <a class="btn-close" asp-action="Index"></a>
            </div>
            <div class="modal-body p-5 pt-0">

                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="ImgUrl" class="control-label"></label>
                                <input asp-for="ImgUrl" class="form-control" />
                                <span asp-validation-for="ImgUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="Count" class="control-label"></label>
                                <input asp-for="Count" class="form-control" />
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <input asp-for="CategoryId" class="form-control" />
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-action="Index"> Cancel </a>
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
