@model WebApplication1.Models.Category

@{
    ViewData["Title"] = "Delete Category";
    Layout = "_AdminLayout";
}

<style>
    body {
        background-color: white; /* Light gray background */
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 500px;
        margin: 50px auto;
        padding: 20px;
        background-color: #F8FAE5;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }
</style>

<div class="container">
   
    

    <img src="~/images/delete.svg" height="300px" class="card-img-top" alt="delete">
    <div>
        <h2>Are You Sure you want to delete category ?</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="SaveDelete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
